body {
    background-color: rgb(165, 131, 131);
    justify-content: center;
    margin: 0;

}

#title {
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
}